ExtendibleTreeStructure.Tests/MenuDataStoresSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="dataStoreType">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:choice>
				<xs:element name="menuBar" >
					<xs:complexType>
						<xs:attribute name="id" use="required" type="xs:string" />
						<xs:attribute name="priority" use="optional" type="xs:int" />
					</xs:complexType>
				</xs:element>

				<xs:element name="menuBarItem" >
					<xs:complexType>
						<xs:attribute name="commandId" use="required" type="xs:string" />
						<xs:attribute name="parentMenuBarId" use="optional" type="xs:string" />
						<xs:attribute name="priority" use="optional" type="xs:int" />
					</xs:complexType>
				</xs:element>

				<xs:element name="menuItem" >
					<xs:complexType>
						<xs:attribute name="commandId" use="required" type="xs:string" />
						<xs:attribute name="parentId" use="optional" type="xs:string" />
						<xs:attribute name="priority" use="optional" type="xs:int" />
					</xs:complexType>
				</xs:element>

				<xs:element name="menuItemCollection" >
					<xs:complexType>
						<xs:attribute name="id" use="required" type="xs:string" />
						<xs:attribute name="parentId" use="optional" type="xs:string" />
						<xs:attribute name="usesMenuSeparator" use="optional" type="xs:boolean" />
						<xs:attribute name="priority" use="optional" type="xs:int" />
					</xs:complexType>
				</xs:element>
				<xs:element name="copyMenuObject" >
					<xs:complexType>
						<xs:attribute name="referencedMenuDataStoreId" use="required" type="xs:string" />
						<xs:attribute name="referencedMenuObjectId" use="required" type="xs:string" />
						<xs:attribute name="id" use="optional" type="xs:string" />
						<xs:attribute name="parentId" use="optional" type="xs:string" />
						<xs:attribute name="priority" use="optional" type="xs:int" />
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" />
	</xs:complexType>


	<xs:element name="menuDataStores">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="menuDataStore" type="dataStoreType" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
